name: 'Apply terraform change on infrastructure'

on:
  issue_comment:
    types: [created]

jobs:
  prepare:
    if: contains(github.event.issue.labels.*.name, 'release')
    name: prepare
    runs-on: ubuntu-latest
    outputs:
      PLAN_WORKFLOW: ${{ steps.get-plan-info.outputs.PLAN_WORKFLOW }}
      PLAN_WORKFLOW_RUN_ID: ${{ steps.get-plan-info.outputs.PLAN_WORKFLOW_RUN_ID }}
      PLAN_WORKFLOW_RUN_NUMBER: ${{ steps.get-plan-info.outputs.PLAN_WORKFLOW_RUN_NUMBER }}
      TERRAFORM_ENV: ${{ steps.get-plan-info.outputs.TERRAFORM_ENV }}
      TERRAFORM_LAYER: ${{ steps.get-plan-info.outputs.TERRAFORM_LAYER }}
    steps:
      - name: Checkout repository.
        uses: actions/checkout@v3

      - name: Get plan data from issue.
        id: get-plan-info
        shell: bash
        run: |
          workflow=$(echo '${{ github.event.issue.body }}' | grep -oP '(?<=workflow \().*?(?=\))')
          run_id=$(echo '${{ github.event.issue.body }}' | grep -oP '(?<=on run \().*?(?=\s\|)')
          run_number=$(echo '${{ github.event.issue.body }}' | grep -oP '(?<=\| ).*?(?=\s\))')
          terraform_env=$(echo '${{ github.event.issue.body }}' | grep -oP '(?<=Please approve or deny the deployment on ).*(?= for layer)')
          terraform_layer=$(echo '${{ github.event.issue.body }}' | grep -oP '(?<=for layer ).*(?=\n)')

          echo "PLAN_WORKFLOW=$workflow"
          echo "PLAN_WORKFLOW_RUN_ID=$run_id"
          echo "PLAN_WORKFLOW_RUN_NUMBER=$run_number"
          echo "TERRAFORM_ENV=$terraform_env"
          echo "TERRAFORM_LAYER=$terraform_layer"

          echo "PLAN_WORKFLOW=$workflow" >> $GITHUB_OUTPUT
          echo "PLAN_WORKFLOW_RUN_ID=$run_id" >> $GITHUB_OUTPUT
          echo "PLAN_WORKFLOW_RUN_NUMBER=$run_number" >> $GITHUB_OUTPUT
          echo "TERRAFORM_ENV=$terraform_env" >> $GITHUB_OUTPUT
          echo "TERRAFORM_LAYER=$terraform_layer" >> $GITHUB_OUTPUT
