name: Apply on PR
on:
  pull_request:
    types:
      - synchronize
      - opened
      - reopened
  workflow_dispatch:
    inputs: {}
jobs:
  plan:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: [sandbox, prod]
        layer: [10_base, 20_eks_core_services]
    environment: ${{ matrix.env }}_${{ matrix.layer }}
    steps:
      - name: Checkout repository.
        uses: actions/checkout@v3

      - name: Apply
        run: cd ${{ matrix.env }}/${{ matrix.layer }} && sh main.sh
